{% extends "base.html" %}
{% block title %} Afficher Sociétés {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Nom de la Société
                        </th>
                        <th class="text-center align-middle">
                            Actions
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_Societe }}
						</td>
						<td class="align-middle">
							{{ row.Nom_de_la_Societe }}
						</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary" href="{{ url_for('societes_ajouter_wtf') }}" role="button">Ajouter</a>
							<a class="btn btn-warning" href="{{ url_for('societe_update_wtf', id_societe_btn_edit_html=row.ID_Societe) }}" role="button">Edit</a>
							<a class="btn btn-danger" href="{{ url_for('societe_delete_wtf', id_societe_btn_delete_html=row.ID_Societe) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td colspan="3" class="text-center">
							Aucune société.
						</td>
					</tr>

				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
